@model List<TestPatinfo>
@{
    ViewData["Title"] = "Home Page";
}

<div class="d-flex justify-content-center">
    <h1>病患資料表</h1>   
</div>
<div class="d-flex justify-content-between">
    <input id="searchInput" class="col-sm-3 form-control m-2" placeholder="搜尋" />
    <button type="button" class="btn btn-outline-success m-2" data-bs-toggle="modal" data-bs-target="#newPat" >新增</button>

</div>
<table id="patTable" class="table table-striped">
    <thead>
        <tr>
            <th scope="col" class="text-center">病歷號</th>
            <th scope="col" class="text-center">姓名</th>
            <th scope="col" class="text-center">身分證號</th>
            <th scope="col" class="text-center">電話</th>
            <th scope="col" style="display:none">電話</th>
        </tr>
    </thead>

    <tbody>
        @foreach (var i in Model)
        {
            <tr class="row-click">
                <td class="text-center"><label>@i.PatId</label></td>
                <td class="text-center"><label>@i.PatName</label></td>
                <td class="text-center"><label>@i.PatIdno</label></td>
                <td class="text-center"><label>@i.PatTel</label></td>
                <td style="display:none">
                    <button type="button" class="show-details" data-rowid="@i.PatKey"></button>
                </td>
            </tr>
            
        }
    </tbody>
</table>
